html
    head
        link(rel="stylesheet" href="/css/styles.css")
    body 
        h1 NHL TopScorers API 
            h2 Description - This API lists NHL top 20 Goal Scorers of all time 
                h3 Method - GET (Returns list of players from DB)
                h3 Route http://localhost:1336/
                    ul
                        li Get/topscorers - Display full list of top 20 players
                        li Get/topscorers/id - This will display single player based on id(and Ranking)
                        
                        
                
                

                h3 Method -Post 
                h3 Route - http://localhost:1336/topscorers/name
                    ul
                        li - Post New Player including ID, Name, Position, Games played, Goals
                    h4 Description -Saves NEW Player to Database 

